@font-face {
    font-family: "AUTHENTIC Sans";
    src: url('./authentic_sans/WOFF/AUTHENTICSans-60.woff')
}

body {
    display: flex;
    justify-content: center;
}

p {
    margin: 0;
}

.header {
    font-family: 'AUTHENTIC Sans', Arial, sans-serif;
    letter-spacing: 0.4px;
    display: flex;
}

.card {
    margin-top: 50px;
    border: 1px slategrey solid;
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
}

.header {
    color: white;
    background-color: black;
}

.description {
    padding: 10px;
}

.portrait {
    flex: auto;
    display: flex;
}

.portraitImage {
    border-radius: 100%;
    border: 3px solid slategray;
    max-width: 100%;
    width: auto;
    text-align: center;
    margin: auto;
    display: block;
}


@media screen and (max-width: 1000px) {
    .card {
        margin-top: 50px;
        width: 90%;
    }

    .myName {
        font-size: 75px;
    }

    .aboutMe {
        font-size: 35px;
    }

    .adage {
        font-size: 42px;
    }

    .portraitImage {
        height: 175px;
    }

    .content {
        font-size: 50px;
    }

    .socials {
        font-size: 100px;
        padding: 300px 0 20px 0;
    }
}

@media screen and (min-width: 1000px) {
    .card {
        width: 400px;
    }

    .myName {
        font-size: 2em;
    }

    .aboutMe {
        font-size: 1em;
    }

    .adage {
        font-size: 1.2em;
    }

    .portraitImage {
        height: 80px;
    }

    .content {
        font-size: 1.25em;
    }

    .socials {
        font-size: 3em;
        padding: 100px 0 15px 0;
    }
}

.aboutMe {
    color: #999999;
}

.content {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    padding: 10px;
}

.jobs {
    display: flex;
    justify-content: space-between;
}

.socials {
    text-align: center;
}

.fa-brands {
    color: black;
    height: 50px;
}