@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif; 
    display: flex;
    justify-content: center;
}

h1, h3, h4 {
    margin: 0;
    padding: 0;
}

.card {
    margin-top: 50px;
    /* position: relative; */
    height: 450px;
    width: 400px;
    border: 1px slategrey solid;
    border-radius: 5px;
    /* overflow: hidden; */
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
}

#header {
    background: black;
    color: white;
    padding: 10px;
    height: 80px;
    border-radius: 5px 5px 0 0;
}

.description {
    float: left;
    height: 100%;
    font-size: 1em;
}

img {
   max-width: 100%;
   max-height: 100%; 
   border-radius: 50%;
   outline: 2px solid slategrey;
}

.portrait {
    float: right;
    width: 25%;
    height: 100%;
    width: 21.1%;
}

#work {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
}

.titles {
    text-align: right;
}

#socials {
    font-size: 3em;
    text-align: center;
    margin-top: 140px;
    position: relative;
}

.fa-brands {
    color: black;
}
