@font-face {
    font-family: "AUTHENTIC Sans";
    src: url('./authentic_sans/WOFF/AUTHENTICSans-60.woff')
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'AUTHENTIC Sans', Arial, sans-serif;
    letter-spacing: 0.4px;
}

body {
    display: flex;
    justify-content: center;
    background-color: #101028;
    color: white;
}

.card {
    padding-top: 50px;
    width: 350px;
}

.myName {
    font-size: 2em;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.portraitImage {
    border-radius: 100%;
    border: 3px solid #282810;
}

.work {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.jobs {
    display: flex;
    justify-content: space-between;
}

.content {
    margin-bottom: 20px;
}

.socials {
    display: flex;
    justify-content: space-evenly;
}

.socials a {
    color: white;
}
