@font-face {
  font-family: "AUTHENTIC Sans";
  src: local("AUTHENTIC Sans"), url("assets/authentic_sans/WOFF/AUTHENTICSans-60.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'AUTHENTIC Sans', Arial, sans-serif;
  letter-spacing: 0.4px;
}

body {
  display: flex;
  justify-content: center;
  background-color: #101028;
  color: white;
}

.App {
  padding-top: 20px;
  width: 350px;
  position: relative;
}

.myName {
  font-size: 2em;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.App--github-title {
  margin-bottom: 10px;
}

.react-activity-calendar {
  opacity: 100%;
  margin-bottom: 20px;
}

.portraitImage {
  border-radius: 100%;
  border: 3px solid #282810;
  height: 80px;
}

.projects h2 {
  margin-bottom: 10px;
}

.projects--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.projects--link {
  display: flex;
  flex: 1 1 100px;
  text-decoration: none;
  color: white;
}

.projects--item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  height: 50px;
}

.projects--item:hover {
  box-shadow: 0 0 10px 1px white;
  background-color: #252554;
}

.work {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content h2 {
  margin-bottom: 10px;
}

.jobs {
  display: flex;
  justify-content: space-between;
}

.content {
  margin-bottom: 20px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.socials a {
  color: white;
}
